body {
    background-color: black;
    color: #ffffff;
    font-family: 'Press Start 2P', monospace;
}

#main,
#header {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#topnavbar {
    margin-top: 0px;
    height: 5px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}


p {
    line-height: 120%;
}

#header {
    text-align: right;
}



.listleft,
.listright {
    float: left;
    margin: 5px 0px;
}

.listleft {
    width: 90%;
    color: #00ffff;
}

.listright {
    width: 10%;
    text-align: right;
}

h1 {
    text-align: center;
    background-color: #0000ff;
    color: #ffff00;
    margin: 0px;
    padding: 20px 0px;
}

h3 {
    color: #ffff00;
}

hr {
    height: 6px;
    width: 100%;
    color: #0000ff;
    background-color: #0000ff;
    border: 1px solid #0000ff;
    margin: 20px 0px;
}

#red,
#green,
#yellow,
#blue {
    width: 25%;
    display: inline;
    border: 0px;
    float: left;
    text-align: center;
}

#red {
    color: #ff0000;
}

#green {
    color: #00ff00;
}

#yellow {
    color: #ffff00;
}

#blue {
    color: #00ffff;
}

#counter {
    background-color: black;
    border-color: black;
    border: none;
    color: white;
    font-size: 15px;
    column-span: 3;
    font-family: 'Press Start 2P', monospace;
}

#footer {
    bottom: 0;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    text-align: center;

}


select {
    -moz-appearance: none;
    appearance: none;
    background-color: black;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 16px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

select option {
    color: #666;
}

select::-ms-expand {
    display: none;
}

select:focus::-ms-value {
    background-color: transparent;
}


#container {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.button {
    margin-bottom: 5 px;
    margin-top: 0px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}



@media screen and (max-width: 850px) {

    #header,
    #main,
    #footer {
        width: 100%;
    }
}
